//
//::ng-deep .ant-tabs-tab {
//  max-width: 150px;
//}

.products-search {
  input {
    width: 100%;
    padding: 8px 16px;
  }
}

::ng-deep .ant-list-items {
  background: #fff !important;
  cursor: pointer;
}
