<nz-layout class="layout-outer">
    <nz-header class="header">
        <h1 nz-typography class="logo">KazDream</h1>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="menu">
            <li nz-menu-item routerLink="/products">Products</li>
            <li nz-menu-item (click)="logout()" style="margin-left: 24px">Logout</li>
        </ul>
    </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>KazDream Test Case</nz-footer>
</nz-layout>
